<!DOCTYPE html>
<html lang="cs">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<script src="js/script.js"></script>
<body>
  {# Component template #}
  {% include "_component.njk" %}
  {# Page content #}
  {% block content %}
  {% endblock %}
</body>
</html>
