<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">

    <title>
      {% block title %}{% endblock %}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="author" content="KuzmiCz">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>

  <body>

    {% block header %}{% endblock %}

    <main>
      {% block main %}{% endblock %}
    </main>

    {% block footer %}{% endblock %}

    <script src="index.js"></script>

  </body>
</html>
